
/IBeam.API/obj
/IBeam.DataModels/bin
/IBeam.DataModels/obj
/IBeam.Mappings/obj
/IBeam.Models/bin
/IBeam.Models/obj
/IBeam.Repositories/bin
/IBeam.Repositories/obj
/IBeam.Services/bin
/IBeam.Services/obj
/IBeam.Tests/bin
/IBeam.Tests/obj
/IBeam.Utilities/bin
/IBeam.Utilities/obj
/IBeam.API/bin
/IBeam.Mappings/bin
/.vs
*.dll
*.pdb
/IBeam.Scaffolding.Models/obj
/IBeam.Services.Scaffold/bin
/IBeam.Services.Scaffold/obj
/IBeam.Scaffolding.DataModels/obj
/IBeam.Repositories.Scaffold/obj
/IBeam.Repositories.Scaffold/bin
/IBeam.Identity.Api/bin
/IBeam.Identity.Api/obj
/IBeam.Identity.Core/obj
/IBeam.Identity.Services/obj
/IBeam.Identity.Storage.AzureTable/obj
/IBeam.Identity.Storage.EntityFramework/obj
/IBeam.Repositories.AzureTables/obj
/IBeam.Repositories.Core/obj
/IBeam.Repositories.OrmLite/obj
/IBeam.Repositories.Core/obj
/IBeam.Repositories.AzureTables/obj
/IBeam.Repositories.OrmLite/obj
/IBeam.Repositories.Core/obj
/IBeam.Identity.Core/bin
/IBeam.Identity.Services/bin
/IBeam.Identity.Storage.EntityFramework/bin
/IBeam.Repositories.AzureTables/obj
